.schedule-buttons-heading {
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    
    // padding-bottom: 1vh;
    padding: 2vw 5vw 1vw 5vw;
    
}

.button-container {
    padding:0vw 3vw 3vw 3vw;
}

.workshops-button {
    margin-right: 2vw;
    background-color: transparent;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #3D405B;
    color: #D7D7D7;

    // padding: 4vh 4vw ;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
    // padding: 3vw 3vw;
   
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 630;
    font-size: 1rem;
}

.main-conference-button {
    margin-left: 2vw;
    border-radius: 4px;
    background-color: #3D405B;
    color: #D7D7D7;

    // padding: 4vh 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;
    // padding: 3vw 3vw;
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 630;
    font-size: 1rem;
    line-height: 14px;
}

