@use 'styles/variables.module';
@use 'styles/mixins.module';

// event welcome card 
.event-card {
    @include mixins.col-center;
    border: variables.$border_thick;
    padding: variables.$sp_std;
    margin-bottom: variables.$sp_xl;

    > * {
        padding: variables.$sp_sm;
    }

    .title {
        font-size: variables.$font_size_xl
    }

    .description {
        max-width: 80%;
    }

    .buttons-container {
        @include mixins.row-center;
        >* {
            padding: variables.$sp_std;
        }
    }
}
// update card

.update-card {
    @include mixins.row-start;
    border: variables.$border_thin_light;
    margin: variables.$sp_std;

    .update-date {
        padding: variables.$sp_std;
        margin-right: variables.$sp_std;
        background-color: variables.$color_main_3;
    }
}



// CTA card

.cta-card {
    @include mixins.col-start;
    .cta-title {
        font-size: variables.$font_size_xl;
    }

    > * {
        padding: variables.$sp_sm;
    }
}

//josey practice code
//pastConferences Card

// .image-placeholder {
//     width: 100px;
//     height: 100px;
//     margin: variables.$sp_sm;
//     background: variables.$placeholder_darkgray;
// }