@use 'styles/variables.module';
@use 'styles/mixins.module';

 

// Specific Individual Event

.event-container {
    @include mixins.col-center;
}

.body {
    @include mixins.row-center;
    align-items: flex-start;
    border-top: variables.$border_std;
    width: 100%;
    padding: 0 variables.$sp_xl;
}

// Side Nav
.side-nav-container {
    max-width: 150px;
    border-right: variables.$border_std;
 

    li {
        border-top: variables.$border_thin_light;
        padding: variables.$sp_sm;
    }

    .side-nav:last-child {
        border-bottom: variables.$border_thin_light;
        margin-bottom: 200px;
    }
}

.side-nav-header {
    width: 120px;
    text-align: center;
    padding: variables.$sp_std;
}



// content 
.content {
    @include mixins.col-start;
    width: 100%;
    padding: variables.$sp_std variables.$sp_lg;
 }


 // event banner
 .event-banner {
    @include mixins.col-center;
    padding: variables.$sp_xl;

    hr {
        border: 1px solid variables.$color_main_1;
    }

    .event-date {
        font-size: variables.$font_size_lg;
    }
}


 // info sections
 .info-section {
    width: 100%;
    margin-bottom: variables.$sp_lg;
 }

 // speakers 
 .speakers-container {
    @include mixins.col-center;
 }

 .key-notes, .other-speakers {
    @include mixins.row-between;

    > * {
        margin: variables.$sp_std;
    }
 }

 .schedule-buttons-container {
    @include mixins.row-around;
    width: 100%;
}

.get-involved {
    @include mixins.row-between;
}