@use 'styles/variables.module';
@use 'styles/mixins.module';

.layout-container {
    @include mixins.col-start;
}

// Header

.navbar {
    @include mixins.row-between;
    width: 100%;
    padding: variables.$sp_std;
}

.navbar-brand {
    @include mixins.row-center;
    max-width: 150px
}

// gives intrinsic size for responsive layout to work
.logo-image-container {
    height: 70px;
    width: 70px;
}

.logo-text {
    @include mixins.col-center;
    font-size: variables.$font_size_sm;
    height: 100%;
    padding: variables.$sp_xs;

}

.logo-word::first-letter {
    font-weight: 900;
    font-size: variables.$font_size_std;
    color: variables.$color_main_1;
}

// Body

.body {
    @include mixins.row-start;
    align-items: stretch;
    width: 100%;
    min-height: 62vh;
    margin: variables.$sp_std;

    > * {
        padding: variables.$sp_std;
    }
}

.left-menu {
    width: 10%;
    min-width: 150px;
}

.content {
    width: 90%;
}

// Footer

.footer {
    height: 200px;
    width: 100%;
    background: lightgray
}