@use 'styles/variables.module';
@use 'styles/mixins.module';

.layout-container {
    @include mixins.col-start;
}

// Header

.header {
    @include mixins.row-between;
    width: 100%;
    padding: variables.$sp_std;
}

.logo {
    @include mixins.row-center;
    max-width: 150px
}

// gives intrinsic size for responsive layout to work
.logo-image-container {
    height: 70px;
    width: 70px;
}

.logo-text {
    @include mixins.col-center;
    font-size: variables.$font_size_sm;
    height: 100%;
    padding: variables.$sp_xs;

}

.logo-word::first-letter {
    font-weight: 900;
    font-size: variables.$font_size_std;
    color: variables.$color_main_1;
}

// Main Nav

.main-nav-container {
    width: 100%;
    @include mixins.row-center;
}

.main-nav {
    @include mixins.row-center;
    align-items: flex-start;
    padding-top: variables.$sp_std;
    width: 100%;
    height: 54px;
    background-color: variables.$color_main_1;
    color: variables.$color_main_5;

    > * {
        padding: 0 variables.$sp_lg;
    }
}


.dropdown-menu {
    position: relative;
    display: none;
    margin-top: variables.$sp_std;
    z-index: 10000;
}

.dropdown-menu > * {
    border: variables.$border_thin_light;
    background-color: variables.$color_main_1;
    padding: variables.$sp_sm;
}

.link-container:hover {
    .dropdown-menu {
        display: block;
    }
}


// Body

.body {
    width: 100%;
}

// Footer

.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: lightgray;
}