// TODO: Update theme colors once confirmed by design
$color_main_1: #3D405B;
$color_main_2: #FFBC68;
$color_main_3: #228784;
$color_main_4: #CE4B27;
$color_main_5: #FFFFFF;

$color_accent_1: #F38a79;
$color_accent_2: #7A557C;
$color_accent_3: #FFEFCA;
$color_accent_4: #A9AABC;

$color_accent_secondary1: #BE6985;
$color_accent_secondary2: #E09DC4;
$color_accent_secondary3: #D01B39;

$color_font_main: #212231;


// font 
$font_size_xxs: .3rem;
$font_size_xs: .5rem;
$font_size_sm: .8rem;
$font_size_std: 1rem;
$font_size_lg: 1.2rem;
$font_size_xl: 1.4rem;

// spacing
$sp_xxs: 2px;
$sp_xs: 5px;
$sp_sm: 10px;
$sp_std: 20px;
$sp_lg: 25px;
$sp_xlg: 30px;